* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.menu-item-linck {
    padding: 8px;
}

body {
    background: #c0c0c0;
}

.header {
    background: #0588bc;
    height: 55px;
    margin-bottom: 40px;
    box-shadow: rgb(8, 24, 198) 5px 5px 10px inset;
}

.submenu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-item:hover {
    background: #90ee90;
    transition: 1s;
    border-radius: 2px;
}

ul li:hover {
    background: #0588bc;
}

ul li:hover ul {
    margin-top: 5px;
    display: block;
    position: relative;
    box-shadow: rgb(8, 24, 198) 5px 5px 10px inset;
    transition: 3s;
}

li ul {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.logo:hover {
    transition: 1s;
    background: #90EE90;
    box-shadow: rgb(8, 24, 198) 5px 5px 10px inset;
}

.logo {
    padding: 4px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 26px;
    box-shadow: rgb(8, 24, 198) 5px 5px 10px inset;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.menu-item {
    margin: 0 3px;
    height: 30px;
    border-radius: 10px;
    transition: 1s;
    box-shadow: rgb(8, 24, 198) 5px 5px 10px inset;
}

.nav .menu {
    margin-top: 10px;
    display: flex;
    list-style: none;
}